

<div>
  <button (click)="chageTipoEfectivo('SAE')">SAE</button>
  <button (click)="chageTipoEfectivo('AE')">AE</button>
</div>
<br>

<div class="card" *ngIf="saeService.currentStep==1">
<p>Info 1: {{saeService.dataInfo}} </p>
<h3>Paso {{ saeService.currentStep }}</h3>
<h3>Hola Bruno tienes efectivo disponible de</h3>
<h2>S/{{ saeService.efDisponible }} disponible</h2>
</div>

<div class="card" *ngIf="saeService.currentStep==2">
<p>Info 2:</p>
<h3>Paso {{ saeService.currentStep }}</h3>
<a href="#" (click)="returnSimulator()">Volver a Simular</a>
</div>

<div class="card" *ngIf="saeService.currentStep==3">
  <p>Info 3:</p>
  <h3>Paso {{ saeService.currentStep }}</h3>
  <a href="#" (click)="returnSimulator()">Volver a Simular</a>
  </div>


<app-super-avance-detail [datos]="datoPrincipal"></app-super-avance-detail>
